.App{
    background-color: burlywood;
}
.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.footer {
    text-align: center;
    opacity: 0.5;
    bottom: 0;
    left: 0;
    height: 20%;
    width: 100%;
}